<p id="notice"><%= notice %></p>

<h3>🐝 Thoughtfull</h3>

<table class="u-center-abs">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Emotion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <td><%= diary.name %></td>
        <td><%= diary.date %></td>
        <td><%= diary.emotion %></td>
        <td><%= link_to 'Show', diary %></td>
        <td><%= link_to 'Edit', edit_diary_path(diary) %></td>
        <td><%= link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




<ul>
<li> <%= link_to 'Home', welcome_index_path%>
  <li><%= link_to 'Support', doctors_path %></li>
  <li> <%= link_to 'New Diary', new_diary_path %>
  <li> <%= link_to 'Find a Doctor', doctors_path %>
 
</ul>







