<p id="notice"><%= notice %></p>

<h4>Reach out to a Doctor </h4>

<table class="u-center-abs first">
   
        
        <tbody>
        <% @doctors.each do |doctor| %>
            <tr>
            <td><%= doctor.name %></td>
            <td><%= doctor.occupation %></td>
            <td><%= doctor.number %></td>
            <td><%= doctor.location %></td>
            </tr>
            <% end %>
            </tbody>

         </table>

         <br>

         <ul>
<li> <%= link_to 'Home', welcome_index_path%>
  <li><%= link_to 'Journal', diaries_path %></li>
  <li> <%= link_to 'New Diary', new_diary_path %>
  <li> <%= link_to 'Find a Doctor', doctors_path %>
 
</ul>
         